<tr class="d-none d-md-table-row">
  <th>ニックネーム:</th>
  <td><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "たろう" %></td>
</tr>

<tr class="d-none d-md-table-row">
  <th>メールアドレス:</th>
  <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
</tr>

<tr class="d-none d-md-table-row">
  <th>パスワード
    <% if minimum_password_length %>
    <em>(<%= minimum_password_length %> 文字以上):</em>
    <% end %>
  </th>
  <td><%= f.password_field :password, autocomplete: "new-password" %></td>
</tr>

<tr class="d-none d-md-table-row">
  <th>パスワード(確認用):</th>
  <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
</tr>

<tr class="d-none d-md-table-row">
  <th></th>
  <td><%= f.submit "新規登録", class: "btn btn-outline-secondary" %></td>
</tr>