<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <h1 class="my-5 text-center">新規会員登録</h1>
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="d-lg-flex justify-content-between mt-2">
          <h5>ニックネーム:</h5>
          <div class="text-center"><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "たろう" %></div>
        </div>
        <div class="d-lg-flex justify-content-between mt-2">
          <h5>メールアドレス:</h5>
          <div class="text-center"><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></div>
        </div>
        <div class="d-lg-flex justify-content-between mt-2">
          <h5>パスワード
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上):</em>
            <% end %>
          </h5>
          <div class="text-center"><%= f.password_field :password, autocomplete: "new-password" %></div>
        </div>
        <div class="d-lg-flex justify-content-between mt-2">
          <h5>パスワード(確認用):</h5>
          <div class="text-center"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
        </div>
        <div class="text-center mt-4"><%= f.submit "新規登録", class: "btn btn-outline-info" %></div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-lg-left mt-5">
    <div class="col-lg-4 my-3 text-center">
      <h4 class="mb-3">既に登録済みの方</h4>
      <%= render "devise/shared/links" %>からログインしてください。
    </div>
  </div>
</div>

