<div class="form-group d-flex">
  <h2 class="mr-4"><%= f.label :star, "星" %></h2>
  <%= f.hidden_field :star, id: :recipe_star, class: 'form-control' %>
  <div id="edit_raty" class="mt-1"></div>
</div>
<script>
  $(document).on('turbolinks:load', function() {
    let editElem = document.querySelector('#edit_raty');
    if (editElem != null) {
      editElem.innerHTML = "";
      let editOpt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'recipe[star]',
        readOnly: false, // 編集時に評価を入力可能にする
        score: <%= recipe.star || 0 %>,
      };
      raty(editElem, editOpt);
    }
  });
</script>