<div class="row">
  <div class="col-12 d-md-flex">
    <div class="mr-md-auto">
      <% if recipes.present? %>
        <% link_params = {} %>
        <% if params[:category_id] %>
          <% link_params[:category_id] = params[:category_id] %>
        <% elsif params[:user_id] %>
          <% link_params[:user_id] = current_user.id %>
        <% elsif params[:word] %>
          <% link_params[:word] = params[:word] %>
          <% link_params[:range] = "Recipe" %>
          <% link_params[:search] = params[:search] %>
        <% end %>
        <% if params[:word] %>
          <%= link_to "新しい順", search_path(link_params.merge(latest: "true")) %>
          |<%= link_to "古い順", search_path(link_params.merge(old: "true")) %>
          |<%= link_to "評価の高い順", search_path(link_params.merge(star_count: "true")) %>
        <% else %>
          <%= link_to "新しい順", recipes_path(link_params.merge(latest: "true")) %>
          |<%= link_to "古い順", recipes_path(link_params.merge(old: "true")) %>
          |<%= link_to "評価の高い順", recipes_path(link_params.merge(star_count: "true")) %>
        <% end %>
      <% end %>
    </div>
    <% if recipes.present? %>
      <p>【画像提供：楽天レシピ】</p>
    <% end %>
  </div>
</div>
<% unless recipes.present? %>
  <h2 class="text-center mt-5">まだレシピを保存していません。</h2>
  <div class="text-center mt-3">
    <%= link_to "料理を作る", new_recipe_path, class:"btn btn-outline-info" %>
  </div>
<% end %>
<div class="row">
  <% recipes.each do |recipe| %>
    <div class="col-sm-6 col-lg-4 mt-3 px-1">
      <div class="card h-100 border-0">
        <div class="d-inline-block position-relative">
          <%= image_tag recipe.get_recipe_image(500, 500), size: "275x275", class: "w-100 rounded" %>
          <div id="favorite-btn_<%= recipe.id %>" class="d-flex position-absolute favorite">
            <%= render 'recipe_favorites/favorite-btn', recipe: recipe %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to recipe.name, recipe_path(recipe.id), class: "text-dark" %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0"><%= recipe.recipe_category.name %></li>
          <li class="list-group-item"><%= render 'recipes/show_rate', recipe: recipe %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="mx-auto mt-3">
    <%= paginate recipes %>
  </div>
</div>