<div class="container">
  <div class="row">
    <h1 class="col-lg-8 text-center mt-5 mx-auto">このレシピに決まりました</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 my-3">
      <div class="text-center">
      <%= image_tag @recipe_info.get_recipe_image(500, 500), size: "275x275", class: "rounded" %>
      </div>
      <p class="text-center">
        【画像提供：楽天レシピ】
      </p>
    </div>
    <div class="col-lg-8 my-3 mx-auto">
      <div class="border border-dark p-2 text-center font-weight-bold bg-info">
        <h4 class="my-auto text-white"><%= @recipe['name'] %></h4>
      </div>
      <div class="border-right border-bottom border-left border-dark">
        <div class="d-md-flex border-bottom">
          <h5 class="my-auto ml-1 font-weight-bold">レシピＵＲＬ:</h5>
          <p class="my-auto ml-2"><a href="<%= @recipe['url'] %>">楽天レシピで詳細を確認する</a></p>
        </div>
        <div class="d-md-flex border-bottom">
          <h5 class="my-auto ml-1 font-weight-bold">カテゴリー名:</h5>
          <p class="my-auto ml-2"><%= @recipe_category.name %></p>
        </div>
        <div class="d-md-flex border-bottom">
          <h5 class="my-auto ml-1 font-weight-bold">レシピ投稿者:</h5>
          <p class="my-auto ml-2"><%= @recipe['poster_name'] %></p>
        </div>
        <div class="d-md-flex border-bottom">
          <h5 class="my-auto ml-1 font-weight-bold">調理時間目安:</h5>
          <p class="my-auto ml-2"><%= @recipe['cook_time'] %></p>
        </div>
        <div class="d-md-flex border-bottom">
          <h5 class="my-auto ml-1 font-weight-bold">材料費の目安:</h5>
          <p class="my-auto ml-2"><%= @recipe['cost'] %></p>
        </div>
        <div class="border-bottom">
          <h5 class="my-auto ml-1 font-weight-bold">材料名の一覧:</h5>
          <p class="my-auto ml-2"><%= @foodstuff_name_format %></p>
        </div>
      </div>
      <div class="text-center pt-5">
        <%= link_to "レビューする", edit_recipe_path(@recipe['id']), class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>