<div class="container">
  <%= render 'layouts/error', error: @recipe %>
  <div class="row">
    <h1 class="col-lg-8 text-center mt-5 mx-auto">レビュー編集</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 my-3">
      <div class="text-center">
      <%= image_tag @recipe.get_recipe_image(500, 500), size: "275x275", class: "rounded" %>
      </div>
    </div>
    <div class="col-lg-8 my-3 mx-auto">
      <div class="border border-dark p-2 text-center font-weight-bold">
        <p class="my-auto"><%= @recipe.name %></p>
      </div>
      <div class="border-right border-bottom border-left border-dark">
        <div class="d-md-flex border-bottom">
          <p class="my-auto ml-1 font-weight-bold">レシピURL&emsp;:</p>
          <p class="my-auto ml-2"><a href="<%= @recipe.url %>">楽天レシピで詳細を確認する</a></p>
        </div>
        <div class="d-md-flex border-bottom">
          <p class="my-auto ml-1 font-weight-bold">カテゴリー名:</p>
          <p class="my-auto ml-2"><%= @recipe.recipe_category.name %></p>
        </div>
        <div class="d-md-flex border-bottom">
          <p class="my-auto ml-1 font-weight-bold">レシピ投稿者:</p>
          <p class="my-auto ml-2"><%= @recipe.poster_name %></p>
        </div>
        <div class="d-md-flex border-bottom">
          <p class="my-auto ml-1 font-weight-bold">調理時間目安:</p>
          <p class="my-auto ml-2"><%= @recipe.cook_time %></p>
        </div>
        <div class="d-md-flex border-bottom">
          <p class="my-auto ml-1 font-weight-bold">費用の目安&emsp;:</p>
          <p class="my-auto ml-2"><%= @recipe.cost %></p>
        </div>
        <div class="border-bottom">
          <p class="my-auto ml-1 font-weight-bold">材料名の一覧:</p>
          <p class="my-auto ml-2"><%= @recipe.foodstuff_name_format %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 my-3 mx-auto">
      <%= form_with model: @recipe, url: recipe_path, method: :patch do |f| %>
        <div class="form-group">
          <h2><%= f.label :memo, "メモ" %></h2>
          <%= f.text_area :memo, placeholder:"ここにメモすることができます。", size: "60x5", class: "w-100" %>
        </div>
        <%= render 'form_rate', f: f, recipe: @recipe %>
        <div class="form-group text-right">
          <%= f.submit "登録する", class: "btn btn-outline-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>