<h2>パスワードをお忘れですか?</h2>

<%= form_with model: @user, url: user_password_path, method: :post do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードのリセットメールを送信" %>
  </div>
<% end %>

<%= link_to "ログイン画面", new_session_path(resource_name) %>に戻る
