<div class="container">
  <%= render 'layouts/error', error: @contact %>
  <div class="row">
    <div class="col-md-7 mx-auto">
      <h1 class="my-5 text-center">お問い合わせフォーム</h1>
      <%= form_with model: @contact, url: contacts_path, method: :post do |f| %>
        <%= f.hidden_field :nickname, :value => current_user.nickname %>
        <%= f.hidden_field :email, :value => current_user.email %>
        <div class="form-group">
          <h5><%= f.label :content, "<お問い合わせ内容>" %></h5>
          <%= f.text_area :content, autofocus: true, placeholder: "お問い合わせ内容を入力してください。", size: "60x20", class: "w-100" %>
        </div>
        <div class="text-center mt-4">
          <%= f.button type: "submit", class:"btn btn-outline-info" do %> 
            送信 <i class="fas fa-paper-plane"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-5 my-3 text-center">
      <div class="mt-4">
        <%= link_to "Topに戻る", root_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>