<div class="row">
  <div class="col-12 d-md-flex">
    <div class="mr-md-auto">
      <% if restaurants.present? %>
        <% link_params = {} %>
        <% if params[:genre_id] %>
          <% link_params[:genre_id] = params[:genre_id] %>
        <% elsif params[:user_id] %>
          <% link_params[:user_id] = current_user.id %>
        <% elsif params[:word] %>
          <% link_params[:word] = params[:word] %>
          <% link_params[:range] = "Restaurant" %>
          <% link_params[:search] = params[:search] %>
        <% end %>
        <% if params[:word] %>
          <%= link_to "新しい順", search_path(link_params.merge(latest: "true")) %>
          |<%= link_to "古い順", search_path(link_params.merge(old: "true")) %>
          |<%= link_to "評価の高い順", search_path(link_params.merge(star_count: "true")) %>
        <% else %>
          <%= link_to "新しい順", restaurants_path(link_params.merge(latest: "true")) %>
          |<%= link_to "古い順", restaurants_path(link_params.merge(old: "true")) %>
          |<%= link_to "評価の高い順", restaurants_path(link_params.merge(star_count: "true")) %>
        <% end %>
      <% end %>
    </div>
    <% if restaurants.present? %>
      <p>【画像提供：ホットペッパー グルメ】</p>
    <% end %>
  </div>
</div>
<% unless restaurants.present? %>
  <h2 class="text-center mt-5">まだお店を保存していません。</h2>
  <div class="text-center mt-3">
    <%= link_to "お店を探す", new_restaurant_path, class:"btn btn-outline-info" %>
  </div>
<% end %>
<div class="row">
  <% restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-lg-4 mt-3 px-1">
      <div class="card h-100 border-0">
        <div class="d-inline-block position-relative">
          <%= image_tag restaurant.get_restaurant_image(500, 500), size: "275x275", class: "w-100 rounded" %>
          <div id="favorite-btn_<%= restaurant.id %>" class="d-flex position-absolute favorite">
            <%= render 'restaurant_favorites/favorite-btn', restaurant: restaurant %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant.id), class: "text-dark" %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0"><%= restaurant.restaurant_genre.name %></li>
          <li class="list-group-item"><%= render 'restaurants/show_rate', restaurant: restaurant %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="mx-auto mt-3">
    <%= paginate restaurants %>
  </div>
</div>