<div class="container">
  <div class="row">
    <div class="col-12 text-right ml-auto">
      <%= link_to restaurants_path do %>
        お店一覧へ
        <i class="fa-regular fa-hand-point-right"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h1 class="col-lg-8 text-center mt-5 mx-auto">食べに行ったお店詳細</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 my-3">
      <div class="text-center">
        <div class="d-inline-block position-relative">
          <%= image_tag @restaurant.get_restaurant_image(500, 500), size: "275x275", class: "rounded" %>
          <div id="favorite-btn_<%= @restaurant.id %>" class="d-flex position-absolute favorite">
            <%= render 'restaurant_favorites/favorite-btn', restaurant: @restaurant %>
          </div>
        </div>
        <p class="text-center">
          【画像提供：ホットペッパー グルメ】
        </p>
      </div>
    </div>
    <div class="col-lg-8 my-3 mx-auto">
      <%= render 'restaurants/restaurant_info', restaurant: @restaurant %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 my-3 mx-auto">
      <div class="form-group">
        <h2>メモ</h2>
        <%= text_area_tag 'memo', @restaurant.memo, placeholder: "ここにメモすることができます。", size: "60x5", class: "w-100", readonly: true %>
      </div>
      <div class="form-group d-flex">
        <h2 class="mr-4">星</h2>
        <div class="mt-1"><%= render 'show_rate', restaurant: @restaurant %></div>
      </div>
      <div class="text-right">
        <%= link_to "編集する", edit_restaurant_path(@restaurant), class: "btn btn-outline-info mr-4" %>
        <%= link_to "削除する", @restaurant, method: :delete, data: { confirm: 'このお店詳細のデータが消えてしまいます。本当に消しますか？' }, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
</div>