<p>こんにちは、 <%= @resource.nickname %> さん！</p>

<p><%= t(".instruction") %></p>

<p><%= link_to "パスワードを変更する", edit_password_url(@resource, :reset_password_token => @token ) %></p>
<p><%= t(".reset_password_within") %></p>

<p><%= t(".instruction_2") %></p>
<p><%= t(".instruction_3") %></p>